Install Dependencies
=============
pip install pandas matplotlib numpy jupter openpyxl
----------

In [1]:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import itertools
df = pd.read_csv('data.csv')
df.head()

,Unnamed: 0,author,publicationTime,bodyText
0,0,2.209799e+09,10/02/2016 10:30,RT @350Australia: Adani Group's Aust #coal min...
1,1,2.209799e+09,10/02/2016 10:36,RT @avivaimhof: Poor old #coal. Now even #Viet...
2,2,4.306011e+07,10/02/2016 10:37,RT @market_forces: Funds have burned billions ...
3,3,2.209799e+09,10/02/2016 10:37,RT @avivaimhof: #Vietnam PM Announces Retreat ...
4,4,5.855606e+08,10/02/2016 10:41,RT @350Australia: Adani Group's Aust #coal min...

In [2]:
interval = input('Enter Interval in seconds : ')

Enter Interval in seconds : 3600

In [12]:
df["publicationTime"] = pd.to_datetime(df["publicationTime"],  format='%d/%m/%Y %H:%M')
df['bodyText'].fillna('not found',inplace=True)

In [13]:
import time
import datetime
users = []
combine_data = []
counter  = 0
tweet_time = 0
old_timestamp = 0
row_count = 0
df_tweet = pd.DataFrame()
tweet_list = []
index_counter = 0
def filter_data(text, combine_data):
    for t in text.split(' '):
        if t.startswith('@'):
            combine_data.append(t)
    return combine_data

def filter_retweet(text, count):
    for index, t in enumerate(text.split(' ')):
        if index == 0 and t == 'RT':
            count += 1
    return count  
for i, row in df.iterrows():
    type = pd.isnull(row['publicationTime'])
    if not type:
        timestamp = time.mktime(row['publicationTime'].timetuple())
        if i == 0:
            old_timestamp = timestamp
        if tweet_time > old_timestamp + float(interval):
            diff = (tweet_time - old_timestamp + float(interval))/float(interval)
            for d in range(1,int(diff)):
                index_counter += 1
                pub = datetime.datetime.fromtimestamp(int(old_timestamp+(float(interval * d)))).strftime('%Y-%m-%d %H:%M:%S')
                temp = pd.DataFrame({'publicationTime': pub, 'users': len(set(combine_data)), 'retweet': counter,'count': row_count, 'tweets': str(tweet_list)},index=[index_counter])
                df_tweet = pd.concat([df_tweet, temp])
                old_timestamp = old_timestamp+(float(interval*d))           
            combine_data = []
            tweet_list = []
            counter = 0
            row_count = 0
        else:
            combine_data = filter_data(row['bodyText'], combine_data)
            counter = filter_retweet(row['bodyText'], counter)
            tweet_time = timestamp
            tweet_list.append(row['bodyText'])
            row_count += 1

OSError: [Errno 22] Invalid argument

In [15]:
%matplotlib inline
plt.bar(df_count['publicationTime'], df_count['count'], align='center')
plt.title('Interval')
plt.show()

NameError: name 'df_count' is not defined

In [ ]:
def gen_window(df):
    window = []
    count = 1
    for i, row in df.iterrows():
        window.append("Window {}".format(count))
        count += 1
    return window

In [ ]:
df_tweet['window'] = gen_window(df_tweet)
df_tweet.to_csv('output.csv')

In [ ]:
window = input('Enter Windows number : ')

In [ ]:
row = df_tweet.loc[df_tweet['window'] == 'Window {0}'.format(window)]

In [ ]:
data = pd.DataFrame()
for index, r in enumerate(eval(row.iloc[0]['tweets'])):
    temp = pd.DataFrame({'tweet':str(r)},index=[index])
    data = pd.concat([data, temp])
writer = pd.ExcelWriter('output.xlsx')
data.to_excel(writer,'Sheet1')
writer.save()