In [11]:
import pandas as pd
import numpy as np
import sql

ds8 = pd.read_csv("C:\\Users\\ansja001\\Desktop\\\Coal protest Dataset\\tiMESERIES DATA\\Cascade_NewCastle Habour\\Mar8.csv") #loads the csv correctly
#ds.drop_duplicates()
#ds['bodyText']
mike1= ds8.drop_duplicates(['bodyText']) #Working perfecrly well.. shows tweets that can be counted cascades
mike1.describe()

#ds8
#extract8 = pd.value_counts(ds8['bodyText','author'].values, sort= False)
#extract8
#my8 = extract8

#dsf8 = my8.to_frame().reset_index()
#dsf8.columns = ['Cascade-ID','Cascade Size']
#dsf8.to_csv('RTCascade_Day8.csv')

,Unnamed: 0,author,publicationTime,bodyText
count,320,319,319,319
unique,320,221,316,319
top,50,id:twitter.com:3310347050,2016-03-08 10:54:16,"RT @swampgirl64: &lt;(' ) Anthony Roberts, doe..."
freq,1,10,2,1

In [31]:
#ds8
extract8 = pd.value_counts(ds8['bodyText'].values, sort= False)
extract8
dsf8 = extract8.to_frame().reset_index()
dsf8.columns = ['Cascade-ID','Cascade Size']
dsf8
sfilter = dsf8[dsf8['Cascade Size'] > 20]
sfilter
#dsf8.to_csv('RTCascade_Day8.csv')

#lolw = extract8.columns = ['Cascade-ID','Cascade Size']

#my8 = extract8

#dsf8 = my8.to_frame().reset_index()
#dsf8.columns = ['Cascade-ID','Cascade Size']
#dsf8.to_csv('RTCascade_Day8.csv')

                                            Cascade-ID  Cascade Size
97   RT @StopShenhua: "It'd be better to knock down...            24
107  RT @StopShenhua: "It's dumb to rip up world cl...            30
112  RT @StopShenhua: Farmers call for @TonyHWindso...            40

From the Prelinminary anaylsis on cascades