In [5]:
import numpy as np
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import matplotlib

mu, sigma = 100, 15
x = mu + sigma*np.random.randn(10000)

# the histogram of the data
n, bins, patches = plt.hist(x, 50, normed=1, facecolor='green', alpha=0.75)

# add a 'best fit' line
y = mlab.normpdf( bins, mu, sigma)
l = plt.plot(bins, y, 'r--', linewidth=1)

plt.xlabel('Smarts')
plt.ylabel('Probability')
plt.title(r'$\mathrm{Histogram\ of\ IQ:}\ \mu=100,\ \sigma=15$')
plt.axis([40, 160, 0, 0.03])
plt.grid(True)

plt.show()

In [15]:
import datetime

startTime = "2016-01-01T00:00:00Z"
startT = datetime.datetime.strptime(startTime, "%Y-%m-%dT%H:%M:%SZ")

startT

datetime.datetime(2016, 1, 1, 0, 0)

In [17]:

date = datetime.datetime(2003,8,1,12,4,5)
for i in range(5): 
    date += datetime.timedelta(days=1)
    print(date)

2003-08-02 12:04:05
2003-08-03 12:04:05
2003-08-04 12:04:05
2003-08-05 12:04:05
2003-08-06 12:04:05

In [2]:
import random
import pylab as plt
import datetime
from matplotlib.dates import  DateFormatter, DayLocator

fig, ax = plt.subplots(2,1, figsize=(6,8))

# Sample 1: use xticks
days = [29,30,31,1,2,3,4,5]
values = [random.random() for x in days]

xs = range(len(days))

plt.axes(ax[0])
plt.plot(xs, values)
plt.xticks(xs, days)

# Sample 2: Work with dates
date_strings = ["2013-01-30",
                "2013-01-31",
                "2013-02-01",
                "2013-02-02",
                "2013-02-03"]

dates = [datetime.datetime.strptime(x, "%Y-%m-%d") for x in date_strings]
values = [random.random() for x in dates]

plt.axes(ax[1])
plt.plot(dates,values)
ax[1].xaxis.set_major_formatter(DateFormatter("%b %d"))
ax[1].xaxis.set_major_locator(DayLocator())
plt.show()

In [10]:
import pandas as pd
from IPython import display

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [12]:
concat = pd.concat([df1,df2])
(concat)

concat = pd.concat([df1,df2,df3])
print(concat)

df4 = df1.append(df2)
print(df4)

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

[8 rows x 3 columns]

In [8]:
# Add a row to df
from pandas import DataFrame

df111 = DataFrame(columns=('lib', 'qty1', 'qty2'))
arow2 = [2.1, 2.2, 2.3]
arow3 = {'lib':1, 'qty1':2, 'qty2':3}
df111.loc[len(df111)] = arow2
df111.loc[len(df111)] = arow3
print(df111)

mydf = DataFrame([1.1, 1.2, 1.3]).T
print(mydf)
print(len(mydf))

arow2 = [2.1, 2.2, 2.3]  
mydf.loc[len(mydf)] = arow2
mydf.loc[len(mydf)] = arow2
print(mydf)

print(mydf[1][0])

                     lib                   qty1                   qty2
0                    2.1                    2.2                    2.3
1  {'lib': 1, 'qty1': 2}  {'lib': 1, 'qty1': 2}  {'lib': 1, 'qty1': 2}

[2 rows x 3 columns]
     0    1    2
0  1.1  1.2  1.3

[1 rows x 3 columns]
1
     0    1    2
0  1.1  1.2  1.3
1  2.1  2.2  2.3
2  2.1  2.2  2.3

[3 rows x 3 columns]
1.2

In [30]:
# Add a row to df  
from pandas import DataFrame as df  
import numpy as np  
mydf = df([1.1, 1.1, 1.1]).T  
arow2 = [2.2, 2.2, 2.2]  
mynparray = mydf.values  
mynparray = np.vstack((mynparray,arow2,arow2))  
mydf = df(mynparray)
mydf

     0    1    2
0  1.1  1.1  1.1
1  2.2  2.2  2.2
2  2.2  2.2  2.2

[3 rows x 3 columns]

In [10]:
import datetime

time = datetime.datetime.now()
time = time.date()
print(time)
print(datetime.datetime.min.time())
datetime.datetime.combine(time, datetime.datetime.min.time())

print(time.ctime() + " sss")

2016-06-23
00:00:00
Thu Jun 23 00:00:00 2016 sss

In [12]:
aaa= 1.111111111
round(aaa, 2)

1.11

In [4]:
startTimeStr = "2016-06-03T00:00:00Z"
endTimeStr   = "2016-06-05T23:59:59Z"
#endTimeStr   = (datetime.datetime.now().date() + datetime.timedelta(-1)).isoformat() + "T23:59:59Z" # set endTimeStr to yesterday  

gsrDf = sqlContext.read.load(format = "au.com.d2dcrc.carbon.spark.gsr", startTime=startTimeStr, endTime=endTimeStr)

print("count:", gsrDf.count())

count: 26

In [ ]:
from time import sleep

for i in range(100):
    print(i)
    sleep(1)
print("done")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [2]:
import swalign # choose your own values here… 2 and -1 are common. match = 2 mismatch = -1 scoring = swalign.NucleotideScoringMatrix(match, mismatch)

sw = swalign.LocalAlignment(scoring) # you can also choose gap penalties, etc… alignment = sw.align(‘ACACACTA’,’AGCACACA’) alignment.dump()

ImportError: No module named 'swalign'

In [33]:
aaa= [1,2,3,4,5,6]
aaa[:-1]

[1, 2, 3, 4, 5]

In [2]:
v0=[5,6,7]
v1=[x for x in v0]
v1[0]+=3
print(v0)
print(v1)

[5, 6, 7]
[8, 6, 7]