In [1]:
import pandas as pd
import numpy as np
import re as re
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
import string
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [20]:
data = pd.read_csv('realFinalNHB.csv')
data.head()

,Unnamed: 0,author,publicationTime,bodyText
0,0,id:twitter.com:2209799083,10/02/2016 10:30,RT @350Australia: Adani Group's Aust #coal min...
1,1,id:twitter.com:2209799083,10/02/2016 10:36,RT @avivaimhof: Poor old #coal. Now even #Viet...
2,2,id:twitter.com:43060113,10/02/2016 10:37,RT @market_forces: Funds have burned billions ...
3,3,id:twitter.com:2209799083,10/02/2016 10:37,RT @avivaimhof: #Vietnam PM Announces Retreat ...
4,4,id:twitter.com:585560584,10/02/2016 10:41,RT @350Australia: Adani Group's Aust #coal min...

In [21]:
# Separate tweets into dates
data['publicationTime'] = data['publicationTime'].apply(lambda x : pd.to_datetime(str(x)))

In [4]:
data['publicationTime'] = data['publicationTime'].dt.date

In [5]:
data['publicationTime'].unique()

array([datetime.date(2016, 10, 2), datetime.date(2016, 11, 2),
       datetime.date(2016, 12, 2), datetime.date(2016, 2, 13),
       datetime.date(2016, 2, 14), datetime.date(2016, 2, 15),
       datetime.date(2016, 2, 16), datetime.date(2016, 2, 17),
       datetime.date(2016, 2, 18), datetime.date(2016, 2, 19),
       datetime.date(2016, 2, 20), datetime.date(2016, 2, 21),
       datetime.date(2016, 2, 22), datetime.date(2016, 2, 23),
       datetime.date(2016, 2, 24), datetime.date(2016, 2, 25),
       datetime.date(2016, 2, 26), datetime.date(2016, 2, 27),
       datetime.date(2016, 2, 28), datetime.date(2016, 2, 29),
       datetime.date(2016, 1, 3), datetime.date(2016, 2, 3),
       datetime.date(2016, 3, 3), datetime.date(2016, 4, 3),
       datetime.date(2016, 5, 3), datetime.date(2016, 6, 3),
       datetime.date(2016, 7, 3), datetime.date(2016, 8, 3), nan,
       datetime.date(2016, 9, 3), datetime.date(2016, 10, 3),
       datetime.date(2016, 11, 3), datetime.date(2016, 3, 15),
       datetime.date(2016, 3, 16)], dtype=object)

In [6]:
data['publicationTime'].isnull().sum()

21

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13394 entries, 0 to 13393
Data columns (total 4 columns):
Unnamed: 0         13378 non-null object
author             13373 non-null object
publicationTime    13373 non-null datetime64[ns]
bodyText           13373 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 418.6+ KB

In [8]:
data.groupby(['publicationTime']).size()

publicationTime
2016-01-03    310
2016-02-03    410
2016-02-13     41
2016-02-14     31
2016-02-15    441
2016-02-16    490
2016-02-17    468
2016-02-18    420
2016-02-19    916
2016-02-20    398
2016-02-21    510
2016-02-22    528
2016-02-23    504
2016-02-24    191
2016-02-25    283
2016-02-26    495
2016-02-27    548
2016-02-28    277
2016-02-29    134
2016-03-03    439
2016-03-15    317
2016-03-16    207
2016-04-03    479
2016-05-03    464
2016-06-03    332
2016-07-03    773
2016-08-03    368
2016-09-03    615
2016-10-02    263
2016-10-03    909
2016-11-02    219
2016-11-03    514
2016-12-02     79
dtype: int64

In [9]:
data.head()

,Unnamed: 0,author,publicationTime,bodyText
0,0,id:twitter.com:2209799083,2016-10-02,RT @350Australia: Adani Group's Aust #coal min...
1,1,id:twitter.com:2209799083,2016-10-02,RT @avivaimhof: Poor old #coal. Now even #Viet...
2,2,id:twitter.com:43060113,2016-10-02,RT @market_forces: Funds have burned billions ...
3,3,id:twitter.com:2209799083,2016-10-02,RT @avivaimhof: #Vietnam PM Announces Retreat ...
4,4,id:twitter.com:585560584,2016-10-02,RT @350Australia: Adani Group's Aust #coal min...

In [10]:
# Remove the URL's from bodyText
data['Clean_Data'] = data['bodyText'].str.replace('http\S+|www.\S+', '', case=False)

In [11]:
print(data['Clean_Data'])

0        RT @350Australia: Adani Group's Aust #coal min...
1        RT @avivaimhof: Poor old #coal. Now even #Viet...
2        RT @market_forces: Funds have burned billions ...
3        RT @avivaimhof: #Vietnam PM Announces Retreat ...
4        RT @350Australia: Adani Group's Aust #coal min...
5        RT @QldGreens: How times change! Published on ...
6        RT @LockTheGate: Ex #ICAC commish lays it on t...
7        #Brisbane forum: Air #pollution, #coal &amp; p...
8        #coal\n4nature launched legal action against a...
9        5 Climate Angels Arrested For ?Watching Over? ...
10       RT @MineralsCouncil: Japan approves building o...
11                    #auspol NO #coal #thorium #nuclear
12       RT @micksfoley: Govt's done a big #coal &amp; ...
13       Possible Aus #LNG to India for #electricity vi...
14       Australia's landholders are up in arms everywh...
15       RT @AustralisTerry: Australia's landholders ar...
16       RT @AustralisTerry: Australia's landholders ar...
17       RT @AustralisTerry: Australia's landholders ar...
18       Mining Weekly: #India?s #coal appetite dwindle...
19       When PM &amp; incoming Deputy oppose #Shenhua ...
20       RT @AustralisTerry: Australia's landholders ar...
21       When PM &amp; incoming Deputy oppose #Shenhua ...
22       RT @Phil_Laird1: When PM &amp; incoming Deputy...
23       RT @PlattsCoal: Lender group offers $500 milli...
24       Anon snr official @ #India's biggest power co ...
25       RT @AustralisTerry: Australia's landholders ar...
26       RT @AustralisTerry: Australia's landholders ar...
27       RT @AustralisTerry: Australia's landholders ar...
28       URGENT PETITION calling on the @NHMRC to study...
29       RT @Phil_Laird1: When PM &amp; incoming Deputy...
                               ...
13364    @QRCouncil 's Sustainable Resource Investment ...
13365    RT @jamiesonmurph: Whitehaven not implementing...
13366    RT @maxphillips: VIDEO: Nannas to be gagged if...
13367    RT @jamiesonmurph: Whitehaven not implementing...
13368    RT @jamiesonmurph: Who gets the larger max jai...
13369    RT @StopShenhua: ?The people?s resolve is such...
13370    RT @nswnma: Protect the right to protest #nswp...
13371    RT @nswnma: Protect the right to protest #nswp...
13372    RT @jamiesonmurph: Santos contaminates an aqui...
13373    RT @StopShenhua: ?The people?s resolve is such...
13374    RT @jamiesonmurph: Santos contaminates an aqui...
13375    RT @jamiesonmurph: Who gets the larger max jai...
13376    RT @jamiesonmurph: Boggabri Coal illegally cle...
13377    RT @jamiesonmurph: Santos contaminates an aqui...
13378    RT @jamiesonmurph: Boggabri Coal illegally cle...
13379    RT @JohnNorrisBrown: "Documentary filmmaker to...
13380    Why coal could be a better bet than baby food\...
13381    RT @StopShenhua: ?The people?s resolve is such...
13382    RT @StopShenhua: ?The people?s resolve is such...
13383    JPMorgan, Deutsche Bank set new #coal policies...
13384    .@jpmorgan &amp; @DeutscheBank set new #coal p...
13385    RT @StopShenhua: ?The people?s resolve is such...
13386    RT @StopShenhua: "The government is putting pu...
13387    RT @StopShenhua: #shenhua #coal mine will clea...
13388    RT @StopShenhua: This not only defines what @B...
13389    RT @StopShenhua: Law Society says #nswpol prot...
13390    RT @StopShenhua: "The #liverpoolplains relies ...
13391    RT @StopShenhua: Farmers &amp; #gomeroi people...
13392    RT @PilligaPush: Protect the #pilliga forest a...
13393    RT @StopShenhua: Law Society says #nswpol prot...
Name: Clean_Data, Length: 13394, dtype: object

In [12]:
data.to_csv('tweetoutput.csv')

In [14]:
import pandas as pd
import preprocessor as p

#from preprocessor import clean,tokenize,parse

ModuleNotFoundError: No module named 'preprocessor'

In [ ]:
df = pd.read_csv('tweetoutput.csv')
print(df)

In [ ]:
print(df.columns)

In [ ]:
p=re.compile(r'\<http.+?\>', re.DOTALL)
print(p)

In [ ]:
from preprocessor import clean, tokenize, parse
df['Clean'] = df['Clean_Data'].apply(lambda x : p.clean(str(x)))

In [ ]:
def clean_data(x):
    APPOSTOPHES = {"'s" : " is", "'re" : " are", ":" : "","&amp;":"","?":"",'"':""}
    words = x.split()
    reformed = [APPOSTOPHES[word] if word in APPOSTOPHES else word for word in words]
    reformed = " ".join(reformed)
    return (reformed)

In [ ]:
df['Clean1'] = df['Clean_Data'].apply(lambda x : clean_data(str(x)))

In [ ]:
print(df['Clean1'])

In [15]:
import re, math
from collections import Counter

WORD = re.compile(r'\w+')

def get_cosine(vec1, vec2):
     vec1 = text_to_vector(vec1)
     vec2 = text_to_vector(vec2)
     intersection = set(vec1.keys()) & set(vec2.keys())
     numerator = sum([vec1[x] * vec2[x] for x in intersection])

     sum1 = sum([vec1[x]**2 for x in vec1.keys()])
     sum2 = sum([vec2[x]**2 for x in vec2.keys()])
     denominator = math.sqrt(sum1) * math.sqrt(sum2)

     if not denominator:
        return 0.0
     else:
        return float(numerator) / denominator

def text_to_vector(text):
     words = WORD.findall(text)
     return Counter(words)

text1 = 'This is a foo bar sentence .'
text2 = 'This sentence is similar to a foo bar sentence .'

#vector1 = text_to_vector(text1)
#vector2 = text_to_vector(text2)

cosine = get_cosine(text1, text2)

print('Cosine:', cosine)

Cosine: 0.8616404368553293

In [19]:
#cosine = get_cosine(CosineData['Clean1'][0], CosineData['Clean1'][1])

In [ ]:
CosineData = pd.read_csv('Cosine.csv')

In [ ]:
import numpy as np
Cosine = ''
CosineCoff = []

In [ ]:
len(CosineData)

In [ ]:
for i in range(len(CosineData)):
    for j in range(len(CosineData)):
        Cosine = get_cosine(CosineData['Clean1'][i], CosineData['Clean1'][j])
        CosineCoff.append(Cosine)

In [ ]:
x = np.reshape(CosineCoff, (262, 262))

In [ ]:
np.savetxt("1234.csv", x, delimiter=",")

In [ ]:
import string
import math

tokenize = lambda doc: doc.lower().split(" ")

In [ ]:
def jaccard_similarity(query, document):
    intersection = set(query).intersection(set(document))
    union = set(query).union(set(document))
    return len(intersection)/len(union)

In [ ]:
jaccardCoff = []
for i in range(len(CosineData)):
    for j in range(len(CosineData)):
        doc1 = tokenize(CosineData['Clean1'][i])
        doc2 = tokenize(CosineData['Clean1'][j])
        jacc = jaccard_similarity(doc1,doc2)
        jaccardCoff.append(jacc)

In [ ]:
x = np.reshape(jaccardCoff, (262, 262))
np.savetxt("jaccard.csv", x, delimiter=",")

In [ ]:
first_df= pd.read_csv('Data_1.csv')
first_df.head()

In [ ]:
import nltk
nltk.download('punkt')
from nltk import word_tokenize,sent_tokenize

In [ ]:
print(first_df.info())

In [ ]:
sentence= first_df[['Clean1']]
sentence['tokenized_sents'] = sentence.apply(lambda row1:nltk.word_tokenize(str(row1['Clean1'])), axis=1)
print(sentence.head())

In [ ]:
print(sentence.head())

In [ ]:
# For finding the length of each text try to use apply and lambda function again:
sentence['sents_length'] = sentence.apply(lambda row: len(row['tokenized_sents']), axis=1)

In [ ]:
print(sentence.head())

In [ ]:
first_df = first_df.reset_index(drop=True)
sentence = sentence.reset_index(drop=True)

In [ ]:
first_df['tokenized_sents'] = sentence['tokenized_sents']
first_df['sents_length'] = sentence['sents_length']

In [ ]:
import string
import re
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
# convert to lower case
lc = first_df[['tokenized_sents']]
#lc = [w.lower() for w in lc]

In [ ]:
# Removing punctuation
import re
import string
regex = re.compile('[%s]' % re.escape(string.punctuation))

tokenized_docs_no_punctuation = []

for review in first_df['tokenized_sents']:
    new_review = []
    for token in review:
        new_token = regex.sub(u'', token)
        if not new_token == u'':
            new_review.append(new_token)
    
    tokenized_docs_no_punctuation.append(new_review)
    
print(tokenized_docs_no_punctuation)

In [ ]:
# Cleaning text of stopwords
from nltk.corpus import stopwords

tokenized_docs_no_stopwords = []

for doc in tokenized_docs_no_punctuation:
    new_term_vector = []
    for word in doc:
        if not word in stopwords.words('english'):
            new_term_vector.append(word)
    
    tokenized_docs_no_stopwords.append(new_term_vector)

print(tokenized_docs_no_stopwords)

In [ ]:
# Stemming and Lemmatizing
from nltk.stem.porter import PorterStemmer
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer

porter = PorterStemmer()
snowball = SnowballStemmer('english')
wordnet = WordNetLemmatizer()

preprocessed_docs = []

for doc in tokenized_docs_no_stopwords:
    final_doc = []
    for word in doc:
        final_doc.append(porter.stem(word))
    
    preprocessed_docs.append(final_doc)

print(preprocessed_docs)

In [ ]:
print(preprocessed_docs[:20])

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
vectorizer = TfidfVectorizer()

# tokenize and build vocab
#vectorizer.fit(preprocessed_docs)
# summarize
#print(vectorizer.vocabulary_)
#print(vectorizer.idf_)
#tfidf_matrix = vectorizer.fit_transform(preprocessed_docs)
#print(tfidf_matrix)

cvec = CountVectorizer(stop_words='english', min_df=1, max_df=.5, ngram_range=(1,2))
print(cvec)

In [ ]:
import gensim
from gensim import corpora
dictionary = corpora.Dictionary(preprocessed_docs)
doc_term_matrix = [dictionary.doc2bow(doc) for doc in preprocessed_docs]
print(doc_term_matrix)

In [ ]:
Lda = gensim.models.ldamodel.LdaModel
ldamodel = Lda(doc_term_matrix, num_topics = 3, id2word = dictionary, passes=50)
Lda = gensim.models.ldamodel.LdaModel
ldamodel = Lda(doc_term_matrix, num_topics = 3, id2word = dictionary, passes=50)
print(ldamodel)

In [ ]:
feature_names = vectorizer.get_feature_names()
dense = tfidf_matrix.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names, index=characters)
s = pd.Series(df.loc['Adam'])
s[s > 0].sort_values(ascending=False)[:10]

In [ ]:
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer
from pprint import pprint
import string
import collections
def cluster_texts(texts, clusters=3):
    """ Transform texts to Tf-Idf coordinates and cluster texts using K-Means """
    vectorizer = TfidfVectorizer(tokenizer=tokenized_docs_no_punctuation,
                                 stop_words=stopwords.words('english'),
                                 max_df=0.5,
                                 min_df=0.1,
                                 lowercase=True)
 
    tfidf_model = vectorizer.fit_transform(texts)
    km_model = KMeans(n_clusters=clusters)
    km_model.fit(tfidf_model)
 
    clustering = collections.defaultdict(list)
 
    for idx, label in enumerate(km_model.labels_):
        clustering[label].append(idx)
 
    return clustering
    print(clustering)

In [ ]:
print(tokens)