In [1]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

,Unnamed: 0,author,publicationTime,bodyText
0,0,2.209799e+09,10/02/2016 10:30,RT @350Australia: Adani Group's Aust #coal min...
1,1,2.209799e+09,10/02/2016 10:36,RT @avivaimhof: Poor old #coal. Now even #Viet...
2,2,4.306011e+07,10/02/2016 10:37,RT @market_forces: Funds have burned billions ...
3,3,2.209799e+09,10/02/2016 10:37,RT @avivaimhof: #Vietnam PM Announces Retreat ...
4,4,5.855606e+08,10/02/2016 10:41,RT @350Australia: Adani Group's Aust #coal min...

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13394 entries, 0 to 13393
Data columns (total 4 columns):
Unnamed: 0         13378 non-null object
author             13373 non-null float64
publicationTime    13373 non-null object
bodyText           13373 non-null object
dtypes: float64(1), object(3)
memory usage: 418.6+ KB

In [3]:
interval = raw_input('Enter Interval in seconds : ') + 'S'

Enter Interval in seconds : 15

In [4]:
df["publicationTime"] = pd.to_datetime(df["publicationTime"])

In [5]:
df1 = df.groupby(pd.Grouper(key='publicationTime', freq=interval)).size().reset_index(name='Count')
df1.head()

      publicationTime  Count
0 2016-01-03 04:27:00      1
1 2016-01-03 04:27:15      0
2 2016-01-03 04:27:30      0
3 2016-01-03 04:27:45      0
4 2016-01-03 04:28:00      0

In [6]:
df1 = df1[df1.Count != 0]

In [7]:
df1.to_csv('count_with_interval.csv')