In [198]:
import anytree, pandas as pd
from anytree import Node, RenderTree

In [222]:
followerList = pd.read_csv('followerlist.csv')
tweetList = pd.read_csv("sample.csv")
followerList.head()

      1012       2013      23015    23910         3920
0     2013     3920.0  4820032.0  41023.0     329832.0
1    23015  2848492.0    41023.0   3920.0  637261291.0
2  2848492        NaN        NaN      NaN          NaN

In [200]:
#tweetList = tweetList['author'].unique()
#df.loc[df['column_name'].isin(some_values)]

In [180]:
def checkFollower(followerId, followeeId):
    if str(followeeId) in followerList.columns:
        if followerList.loc[followerList[str(followeeId)] == followerId][str(followeeId)].any():
            return True
    return False

In [226]:
nodeList = []
rootList = []
for index, row in tweetList.iterrows():
    #if ([item for item in nodeList if row['author'] not in item]):
    if (len(nodeList)) == 0:
        nodeList.append((row['author'], Node(row['author']))) 
        rootList.append(nodeList[-1])
    else:
        for i in range(len(nodeList)-1, -1, -1):
            if checkFollower(row['author'], nodeList[i][0]):
                nodeList.append((row['author'], Node(row['author'], parent=nodeList[i][1]))) 
            else:
                nodeList.append((row['author'], Node(row['author']))) 
                rootList.append(nodeList[-1])
                
for bla in rootList:
    for pre, fill, node in RenderTree(bla[1]):
        print("%s%s" % (pre, node.name))
    print()

1012
├── 2013
│   └── 3920
└── 23015

23015

23910
└── 3920

23910
└── 3920

23910
└── 3920

23910
└── 3920

3920

3920

3920

In [227]:
#from anytree.exporter import DotExporter
#DotExporter(rootList[0][1]).to_picture("tree.png")